.contact-page{
        padding-top: 60px ;
        table {
            width: 100%;
            height: 60vh;            

            .firstColumn{
                width: 40%
            }
            .secondColumn {
                width: 20%;
                background-color: transparent;
                margin-top: 0px;

                h2{
                    text-align: center;
                    font-family: "Dancing Script", cursive;
                    margin-bottom: -10px;
                }

                .contact-form{

                    textarea {
                        width: 100%;
                        height: 35px;
                        border: 0;
                        overflow: auto;
                        padding-left: 4px;
                        padding-top: 5px;
                        border-bottom: 1px solid grey;

                       &:focus {
                           height: 70px;
                           border: 0 !important;
                       }
                    }

                    button{
                        text-align: center;
                        margin-top: 20px;
                        min-width: 165px;
                        width: auto;
                        height: 50px;
                        border: 1px solid black;
                        background:black;
                        color: #d4af37;
                        margin-left: 4em;

                        &:hover{
                        background-color: white;
                        border: 1px solid black;
                        color: black;
                        }
                    }
                }
                
            }
            .thirdColumn{
                width:40%;
            }
        }
    }
