.cart-icon {
  width: 42px;
  height: 42px;
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }

  .shopping-icon {
    width: 30px;
    height: 30px;
  }

  .item-count {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    bottom: 8px;
  }
}

@media (max-width: 991px) {
  .cart-icon {
    display: flex !important;
    position: absolute;
    right: 96px;
    top: 11px;
  }
}
