.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  background-color: #fff;
  position: fixed;
  padding: 0 20px;
  z-index: 1;
  top:0;
  font-family: 'Questrial', sans-serif;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;


  .logo-container {
    height: 85%;
    width: 10%;
    padding: 5px;

    h2 {
      font-family: "Dancing Script", cursive;
      color: #705b19;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

  
    .option {
      padding: 10px 15px;
      cursor: pointer;
      position: relative;
      margin-right: 8px;

      &:hover {
        color: #705b19;
      }
     &.active {
       color: #705b19;
     }
     &.active::after{
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      background:#705b19;
      top: 0px;
      height: 1px;
      -webkit-transition: all 0.2s ease 0s;
      -o-transition: all 0.2s ease 0s;
      transition: all 0.2s ease 0s;
     }
    }
    

   
    .option::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 0%;
      background:#705b19;
      top: 0px;
      height: 1px;
      -webkit-transition: all 0.2s ease 0s;
      -o-transition: all 0.2s ease 0s;
      transition: all 0.2s ease 0s;
    }
    .option:hover::after {
      width: 100%;
      
    }
  }

  .resolution {
    display: none;
  }
}

@media (max-width: 991px){
  .header{
    h2{
      font-size: 18px;
      padding-top: 5px;
    }
  }
  
}