.footer-container {
  background-color: #d4af37;
  opacity: 0.9;
  height: 80px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-element {
    display: flex;
    justify-content: center;
    opacity: 0.8;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;

    a {
      margin-left: 2px;

      &:hover {
          text-decoration: underline;
      }
    }

  }
}
